* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    padding: 15px;
    background-color: #b6307a;
    color: #fff;
}

main {
    flex: 1;
    display: flex;
}

aside {
    flex: 1;
    background-color: #d581b0;
}

section {
    flex: 4;
    position: relative;
}

form {
    max-width: 305px;
    width: 100%;
    margin: 25px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin-bottom: 7px;
}

li:last-child {
    margin-bottom: 0;
}

.form-auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2 {
    font-size: 28px;
    text-align: center;
    margin: 0;
    line-height: 1;
}

form h2 {
    margin: 0 0 25px;
}

.formControl {
    margin-bottom: 25px;
}

.formControl .errorMessage {
    padding: 5px 0 0 15px;
    font-size: 13px;
    color: #ff8686;
}

form input,
form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    resize: none;
}

form input.invalidValue {
    border-color: #ff8686;
}

.view_disabled {
    display: none;
}

form .form_actions {
    margin: 0 -10px;
}

form .form_actions>* {
    margin: 0 10px;
}

.btn {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    min-width: 80px;
    display: block;
    margin: 0 7px;
    transition: .3s;
}

.btn_filled,
.btn_outlined:hover {
    border: 1px solid #b6307a;
    background-color: #b6307a;
    color: #fff;
}

.btn_outlined,
.btn_filled:hover {
    border: 1px solid #b6307a;
    background-color: #fff;
    color: #b6307a;
}

.btn_primary:hover {
    background-color: #d581b0;
}

.form_toggler {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #4c35e3;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.form_toggler::after {
    position: absolute;
    background-color: #4c35e3;
    content: '';
    height: 2px;
    width: 0;
    bottom: -5px;
    left: 0;
    transition: .3s;
}

.form_toggler:hover::after {
    width: 100%;
}

.userPaper {
    margin: 15px;
}

.userDetails {}

.userDetails-header {}

.bordered-container {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}
